
/* Your CSS Code here. */
.holder{display:flex;
		flex-wrap:wrap;
		flex-direction:row;
		align-items:center;
		justify-content:center;
		background-color:blue;
	}

.item{background-color:red;
	  padding:20px;
	 
	
}